<div class="container">
  <h3 mat-dialog-title>Edit Item Info</h3>

  <form class="mat-dialog-content"  #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Description" [(ngModel)]="data.description" name="description" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Quantity" [(ngModel)]="data.quantity" name="quantity" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Price $" [(ngModel)]="data.price" name="price" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="data">Update Item</button>
      <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</div>
