.filter{
  padding-inline-end: 30%;
}
/* Structure */
.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

/* Toolbar */
.spacer {
  flex: 1 1 auto;
}

/* Filter */
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  padding-top: 2% ;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.mat-table{
  margin-top: 2%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 30%;
  padding: 1%;
}

h1{
  padding-top: 20px;
}
.editbtn{
  color: #0a043c;
}
.editbtn:hover{
  color: lighten(#0a043c, 30%)
}
.deletebtn{
  color: #fc4103;
}
.deletebtn:hover{
  color: lighten(#fc4103, 30%)
}
